/* You can add global styles to this file, and also import other style files */
@import "poole";
@import "hyde";
@import "variables";

/*** CORE ***/
html,
body {
  height: 100%;
}
body {
  margin: 0;
}

.content,
.container {
  max-width: 100%;
  display: flex;

  @media screen and (max-width: 1650px) and (min-width: 750px) {
    margin-left: 30%;
    margin-right: 2%;
  }

  @media screen and (max-width: 1650px) {
    flex-direction: column;
  }
}

/*** RESUME ***/
.job-header {
  font-weight: 500;
  font-size: 17px;
}

.resume-card b {
  font-weight: 450;
  font-style: italic;
}
