/* You can add global styles to this file, and also import other style files */
@import "poole";
@import "hyde";
@import "variables";
@import "../../node_modules/simplemde/dist/simplemde.min.css";

/*** CORE ***/
html,
body {
  height: 100%;
}
body {
  margin: 0;
}

.content.container {
  max-width: 100%;
}

/*** RESUME ***/
.job-header {
  font-weight: 500;
  font-size: 17px;
}

.resume-card b {
  font-weight: 450;
  font-style: italic;
}

/*** MD EDITOR ***/
.editor-toolbar {
  background-color: white;
}
